body {
    background-color: #0f0f0f; /* Dark mode */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #00ff88; /* Verde neón tipo tech */
    border-radius: 12px;
}